<% @user = current_user %>
<div id="sidebar" class="main">
  <div>
    <%= link_to profile_path do %>
      <%= gravatar_for @user, '250' %>
    <% end %>
  </div>
  <div class="sidebar">
  <div>
    <br />
    <h3><%= @user.name %></h3>
    <% if @user != nil %>
      <%= link_to "Dashboard", dashboard_path %><br />
      <%= link_to "Edit Profile", profile_path %><br />
      <%= link_to "New Short Link", new_link_path %>
    <% end %>
  </div><br />
  <div>
    <h3>User Stats</h3>
    <table>
      <tr>
        <td>Registered:</td>
        <td><%= @user.created_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
        <td>Total Links:</td>
        <td><%= @user.links.count %></td>
      </tr>
      <tr>
        <td>Total Clicks:</td>
        <td><%= total_clicks(@user) %></td>
      </tr>
    </table>
  </div>
  </div>
</div>
<br /><br />