<% provide(:title, "Signup") %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 hidden-phone"></div>
    <div class="span8">
      <h1 style="text-align: center">Sign Up</h1>
      <div class="error_box"></div>
      <%= form_for @user, :html => { :id => "new_user_form", :name => "new_user_form",
                         :class => "form-horizontal" } do |f| %>
        <%= render 'shared/errors' %><br />
        <div class="control-group">
          <%= f.label :first_name, :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.text_field :first_name, :placeholder => "First Name",
                    :type => "text", :required => true, :novalidate => "true" %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_name, :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.text_field :last_name, :placeholder => "Last Name",
                    :type => "text", :required => true, :novalidate => "true" %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <%= f.text_field :email, :placeholder => "Email",
                    :type => "email", :required => true, :novalidate => "true" %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <%= f.password_field :password, :placeholder => "Password",
                    :min => 6, :required => true, :novalidate => "true" %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <%= f.password_field :password_confirmation, :placeholder => "Re-Enter Password",
                    :min => 6, :required => true, :novalidate => "true" %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"></label>
          <div class="controls">
            <%= f.submit "Create account", class: "btn btn-large btn-default" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

<script>
  $('#new_user_form').validate({
    rules: {
      "user[password_confirmation]": {
        equalTo: "#user_password",
        minlength: 6
      }
    },
    messages: {
      "user[password_confirmation]": {
        equalTo: "Passwords must match.",
        minlength: "Password must be at least 6 characters."
      }
    }
  });
</script>
