<% provide(:title, "Edit Profile") %>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span1 hidden-phone"></div>
  <div class="span3">
    <%= render 'users/sidebar' %>
  </div>
  <div class="span7 main"><br />
    <h1>Update your profile</h1><br />
    <%= form_for @user, :html => { :class => "form-horizontal", :name => "edit_user_form",
                                   :id => "edit_user_form" } do |f| %>
      <%= render 'shared/errors' %>

      <div class="control-group">
        <%= f.label :first_name, :class => "control-label" %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :first_name, :placeholder => "First Name" %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :last_name, :class => "control-label" %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :last_name, :placeholder => "Last Name" %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <%= f.text_field :email, :placeholder => "Email" %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <%= f.password_field :password, :placeholder => "Password" %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <%= f.password_field :password_confirmation, :placeholder => "Re-Enter Password" %>
          </div>
        </div>
      </div>

      <%= f.submit "Save changes", class: "btn btn-large btn-default" %>
    <% end %><br />
    <div class="span1 hidden-phone"></div>
    <div class="span4">
      <a href="http://gravatar.com/emails"><%= gravatar_for @user, '120', 'img-polaroid'  %><br />
      Change Avatar</a>
    </div>
    <div class="span4">
      <a href="#" onclick="return false;" id="wtf" data-toggle="popover" data-content="<small>Slinky uses
       <a href='http://gravatar.com'>gravatar.com</a> for profile images. A Gravatar is a globally recognized avatar, and they're
       pretty sweet! Click <a href='http://gravatar.com/emails'>Change Avatars</a> to create your Gravatar now.</small>"
       data-original-title="What's up with the avatar?" data-html="true" data-placement="bottom">What's up with the avatar?</a>
    </div>

  </div>
</div>
</div>