<nav class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Slinky</a>
    <ul class="nav pull-right">
      <% if signed_in? %>
        <li class="dropdown hidden-phone">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <small><%= gravatar_for(current_user, '24', 'img-circle') %> Welcome, <%= current_user.first_name %>!</small>
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
            <%= link_to dashboard_path, :html => { :class => 'user-link' } do %>
              <i class="icon-dashboard"></i>  Dashboard
            <% end %>
            </li>
            <li>
            <%= link_to profile_path, :html => { :class => 'user-link' } do %>
              <i class="icon-pencil"></i>  Edit Profile
            <% end %>
            </li>
            <li>
            <%= link_to new_link_path, :html => { :class => 'user-link' } do %>
              <i class="icon-link"></i>  New Link
            <% end %>
            </li>
          </ul>
        </li>
      <% end %>
      <li id="nav-home" data-toggle="tooltip" title="Home" data-placement="bottom">
        <%= link_to '/' do %>
          <i class="icon-home icon-large"></i>
        <% end %>
      </li>
      <% if signed_in? %>
        <!-- Dashboard Link -->
        <li id='nav-dashboard' data-toggle="tooltip" title="Dashboard" data-placement="bottom">
          <%= link_to '/' do %>
            <i class="icon-dashboard icon-large"></i>
          <% end %>
        </li>
        <!-- Logout Link -->
        <li id='nav-logout' data-toggle="tooltip" title="Logout" data-placement="bottom">
          <%= link_to logout_path do %>
            <i class="icon-signout icon-large"></i>
          <% end %>
        </li>
      <% else %>
        <li id='nav-signup' data-toggle="tooltip" title="Sign Up" data-placement="bottom">
          <%= link_to signup_path do %>
            <i class="icon-user icon-large"></i>
          <% end %>
        </li>
        <li id='nav-login' data-toggle="tooltip" title="Login" data-placement="bottom">
          <%= link_to login_path do %>
            <i class="icon-signin icon-large"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>